<template>
  <div class="signup-form">
    <label class="signup-form__label">Password</label>
    <input
      v-model="passwordStore.password"
      data-test="password-field"
      type="password"
      class="signup-form__password-input"
    />
    <ul class="password-hint">
      <li
        v-for="rule in rules"
        :key="rule"
        :data-test-rule-indicator="rule"
        :class="`password-hint__rule password-hint__rule--${
          passwordStore.passedRules.includes(rule) ? 'pass' : 'fail'
        }`"
      >
        {{ rule }}
      </li>
    </ul>
    <span data-test="validation-summary">{{
      passwordStore.passwordStrengthLabel
    }}</span>
  </div>
</template>

<script setup>
import { useStrongPasswordStore } from "@/stores/strong-password";
import { RULE } from "@/domain/password/rules";

const rules = Object.values(RULE);
const passwordStore = useStrongPasswordStore();
</script>

<style scoped>
.signup-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.signup-form__label {
  font-size: 16px;
  margin-bottom: 5px;
}

.signup-form__password-input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-hint {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
}

.password-hint__rule {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  width: 110px;
}

.password-hint__rule--pass {
  background-color: #dff0d8;
  color: #3c763d;
}

.password-hint__rule--fail {
  background-color: #f2dede;
  color: #a94442;
}

.validation-summary {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}
</style>
