<template>
  <div class="signup-container">
    <SignupForm />
  </div>
</template>

<script setup>
import SignupForm from "@/components/SignupForm.vue";
</script>

<style scoped>
.signup-container {
  padding: 10px;
  max-width: 420px;
}

@media (min-width: 600px) {
  .signup-container {
    padding: 20px;
  }
}
</style>
